{{#if session.isAuthenticated}}
  <nav class="navbar navbar-expand-lg navbar-dark justify-content-between mb-3">
    <div class="container">
      {{link-to "Ember Quiz" "index" class="navbar-brand"}}
      <div class="text-white">
        <span>Hello {{currentUser.user.firstName}}!</span>
        <span class="mx-1">|</span>
        <a href {{action "logout"}}>Logout</a>
      </div>
    </div>
  </nav>
{{/if}}
<div class="container">
  {{outlet}}
</div>